# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Окружение и данные
.env
*.db
*.sqlite3

# Node / Mini App
node_modules/
web/dist/

# Системное
.DS_Store
Thumbs.db
.tools/

# Артефакты сборки TS
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
.tools/
